# Compiled class file
*.class

# log file 
*.log

# BlueJ files
*.ctxt

# Mobile tools for Java
.mtj.tmp/

# Package files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*

# Ignore SQL databases
*.db
/.metadata/
/.recommenders/

# Ignore Dakota's CS201 files
CS201_Assign05/*
CS201_Assign06a/*

# Ignore Madison's CS320 files
CS320_Lab06_mtibbett/*

# Ignore result images 
*/war/img/result.png

# Ignore gmail login information
login.txt
