.flex-container
{
	display: flex;
	flex-direction: row;
	width: auto;
}

.button-container
{
	width: 600px;
	overflow-y: auto;
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	padding: 25px;
	margin: 15px;
}

.lightbox-content
{
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
}

.lightbox-content img
{
	border: 3px solid black;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-sizing: border-box;
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.lightbox-content:target
{
	display: block;
}

.lightbox-content:target img
{
	max-height: 100%;
	max-width: 100%;
}

.searchbar
{
	float: left;
	display: inline-block;
	align-self: center;
}

.searchbar input
{
	margin-top: -15px;
}

.filtercontainer
{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-basis: 50%;
}

.dropbtn
{
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #3D403A;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
	border: 1px solid #C2B9AA;
}

.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	border-radius: 3px;
}

.dropdown-content a:hover {
	background-color: rgba(0,0,0,0.8);
	border-radius: 3px;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	background-color: #C2B9AA;
}

.border
{
	flex-basis: 25%;
	background-image: url('img/mandelbrot.jpg');
	background-size: auto;
	background-repeat: repeat-y;
	opacity: 0.8;
}
.center
{
	flex-basis: 50%;
	margin-left: 25px;
	margin-right: 25px;
}

.lower-nav
{
	padding: 5px;
}

.account-header
{
	padding: 25px;
	margin-top: 50px;
}

body {
    background-color: #FFF4E0;
}

.login-center
{
	display: flex;
	justify-content: center;
 	align-items: center;
 	padding-top: 300px;
}

.invalid {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: Crimson;
}

.accountCreated{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: green;
}

.loggedIn{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: green;
}

td.label {
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #3D403A;
}

h1{
  color: #3D403A;
	font-size: 45px;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}

h2{
    color: #3D403A;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}

.error {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: Crimson;
}

.info {
	line-height: 150%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

input {
    margin-left: auto;
		margin-right: auto;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		color: #3D403A;
		font-size: 20px;
		background-color: #FFF4E0;
		-o-transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
		cursor: pointer;
		border-radius: 3px;
		padding: 10px;
		border: 1px solid #C2B9AA;
}

input:hover {
    background-color: #C2B9AA;
	opacity: 1;
}

p
{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #3D403A;
}


.topnav ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0px 22px;
}

.topnav li
{
	display: inline;
	padding: 15px;
	float: left;
}

.topnav a
{
	display: block;
	color: ##FFF4E0;
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.topnav
{
	position: absolute;
}

.filternav ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0px 22px;

}

.filternav li
{
	display: inline;
	padding: 15px;
	float: left;
}

.filternav a
{
	display: block;
	color: #FFF4E0;
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.param-list
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #3D403A;

}

.mainPage-nav-bg
{
	background-image: url('img/mandelbrot.jpg');
	height: 120px;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
	position: relative;
	opacity: 0.8;
}



img
{
	width: 800px;
	height: auto;
	border-radius: 3px;
}

div.left-box
{
	padding: 10px;
	display: flex;
}

div.right-box
{
	padding: 10px;
	margin-left: 25px;
	margin-right: -25px;
	border-radius: 3px;
	border: 2px solid #C2B9AA;
	flex-basis: 1000px;
	flex-grow: 0;
	flex-shrink: 0;
}

table.params
{
	display: block;
	text-align: right;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #3D403A;
	font-size: 20px;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid #C2B9AA;
	overflow:hidden;
	width:250px;
	background: #FFF4E0 url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

select:hover{
	background-color: #C2B9AA;
	opacity: 1;
}

.col1
{
	float: left;
	padding: 10px;
}

.col2
{
	position: absolute;
	margin-left: 350px;
	margin-right: 100px;
	display: block;
	overflow: hidden;
}

.col2 p
{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

/* Gallery CSS for fractal gallery */
div.img-grid
{
	margin: 5px;
	float: left;
	width: 600px;
}

div.img-grid img
{
	width: 100%;
	height: auto;
	border-radius: 3px;
}

/* fractal image css */

.fractalImageParent{
    position:relative;
}

.fractalImage{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	pointer-events: none;
	cursor: default;
	
    position:relative;
}

.exampleImageContainer{
	border: 2px solid #C2B9AA;
	border-width: 3px 0px 0px 0px;
	text-align: center;
	padding: 20px 0px 0px 0px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.exampleImage{
	width: 200px;
	height: 200px;
	padding: 10px 10px 10px 10px;
}

.exampleImageText{
	width: 200px;
}


#fractalDisplayZoomSelector{
	left:-100px;
	top:-100px;
	opacity: 0.7;
	background: rgba(0, 0, 0, 0);
	width: 0px;
	height: 0px;
	border: 2px solid red;
	
	position:absolute;
}
#fractalDisplayZoomSelectorShadow{
	left:-100px;
	top:-100px;
	opacity: 0.7;
	background: rgba(0, 0, 0, 0);
	width: 0px;
	height: 0px;
	border: 2px solid #666666;
	
	position:absolute;
}

div.colorSliderContainer{
	width: 200px;
}

input.colorSlider{
 	-webkit-appearance: none;
	appearance: none;
 	height: 15px;
 	border-radius: 1px;
 	width: 100%;
 	background: #C2B9AA;
 	outline: none;
 	opacity: 0.7;
 	transition: opacity .2s;
	-webkit-transition: .2s;
}

input.colorSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;
}

div.colorPreview{
	background: #000000;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	
	left:150px;
	bottom:50px;
	position:relative;
}


/*css for browse fractals grid*/
.browseGridContainer{
	width: 100%;
	border: 1px solid #C2B9AA;
}

.browseGridText{
	border: 1px solid #C2B9AA;
	padding: 10px;
	text-align: left;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #3D403A;
}

.browsePageBold{
	font-weight: 700;
	background: #B1A899;
}

/*


    font-family: 'Poiret One', cursive;

    font-family: 'Open Sans', sans-serif;


 */
