#home {
	background-color: #FFF4E0;
    background-image: url('img/mandelbrot.gif');
    background-size: 100%;
}

body {
    background-color: #FFF4E0;
}

.invalid {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: Crimson;
}
	
.accountCreated{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: green;
}

.loggedIn{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: green;
}

td.label {
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #3D403A;
}

h1{
    color: #3D403A;
	font-size: 45px;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}

h2{
    color: #3D403A;
	font-size: 45px;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}

h3{
    color: #3D403A;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

h4{
    color: #3D403A;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.error {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: Crimson;
}

.info {
	line-height: 150%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

input {
    margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #3D403A;
	font-size: 20px;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
	border-radius: 3px;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #C2B9AA;
}

input:hover {
    background-color: #C2B9AA;
	opacity: 1;
}


.square1{
	width: 20px;
 	height: 20px;
 	margin: 1px;
	background-color: red;
	position: relative;
	animation-name: example1;
    animation-duration: 6s;
    animation-iteration-count: 1000;
}

@keyframes example1 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:940px; top:0px;}
    50%  {background-color:blue; left:1880px; top:0px;}
    75%  {background-color:green; left:940px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}

.square2{
	width: 20px;
 	height: 20px;
 	margin: 1px;
	background-color: yellow;
	position: relative;
	animation-name: example2;
    animation-duration: 6s;
    animation-iteration-count: 1000;
}

@keyframes example2 {
    0%   {background-color:yellow; left:940px; top:0px;}
    25%  {background-color:blue; left:1880px; top:0px;}
    50%  {background-color:green; left:940px; top:0px;}
    75%  {background-color:red; left:0px; top:0px;}
    100% {background-color:yellow; left:940px; top:0px;}
}

.square3{
	width: 20px;
 	height: 20px;
 	margin: 1px;
	background-color: blue;
	position: relative;
	animation-name: example3;
    animation-duration: 6s;
    animation-iteration-count: 1000;
}

@keyframes example3 {
	0%   {background-color:blue; left:1880px; top:0px;}
    25%  {background-color:green; left:940px; top:0px;}
    50%  {background-color:red; left:0px; top:0px;}
    75%  {background-color:yellow; left:940px; top:0px;}
    100% {background-color:blue; left:1880px; top:0px;}
}

.square4{
	width: 20px;
 	height: 20px;
 	margin: 1px;
	background-color: green;
	position: relative;
	animation-name: example4;
    animation-duration: 6s;
    animation-iteration-count: 1000;
}

@keyframes example4 {
    0%   {background-color:green; left:940px; top:0px;}
    25%  {background-color:red; left:0px; top:0px;}
    50%  {background-color:yellow; left:940px; top:0px;}
    75%  {background-color:blue; left:1880px; top:0px;}
    100% {background-color:green; left:940px; top:0px;}
}

p
{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #3D403A;
}


nav.topnav ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0px 22px;
	background-color: #FFF4E0;
}

nav.topnav li
{
	display: inline;
	padding: 15px;
	float: left;
}

nav.topnav li a
{
	display: block;
	color: ##FFF4E0;
	border-radius: 3px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

img
{
	width: 800px;
	height: auto;
	border-radius: 3px;
}

div.left-box
{
	padding: 10px;
	display: flex;
}

div.right-box
{
	padding: 10px;
	margin-left: 25px;
	margin-right: -25px;
	border-radius: 3px;
	border: 2px solid #C2B9AA;
	flex-basis: 1000px;
	flex-grow: 0;
	flex-shrink: 0;
}

table.params
{
	display: block;
}

#choice
{
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #3D403A;
	font-size: 20px;
	background-color: #FFF4E0;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid #C2B9AA;
	overflow:hidden;
	width:250px;
	background: #FFF4E0 url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

#choice select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#choice:hover
{
	background-color: #C2B9AA;
	opacity: 1;
}

.col1
{
	float: left;
	padding: 10px;
}

.col2
{
	position: absolute;
	margin-left: 350px;
	margin-right: 100px;
	display: block;
	overflow: hidden;
}

.col2 p
{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

/*


    font-family: 'Poiret One', cursive;

    font-family: 'Open Sans', sans-serif;


 */